#films {

	  display: flex;
	  flex-wrap:wrap;
	  justify-content: space-between;


	.film-header {
	  width: 100%;
	  padding-bottom:2rem;
	  padding-top:30vh;
	  background: #AAA;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 0;

	  h1 {
	  	font-weight:bold;
	  }
	  h1, h3 {
	  	color:white;
	  }
	}
	.main-film-info {
	  max-width: 1670px;
	  margin: 0 auto;
	  padding:0 2rem;
	}

	article {
	  padding:2rem;
	  box-sizing: border-box;
	  width:60%;
	  max-width: 1250px;
	  display: block;
	  margin: 0 0 0 auto;

	  > div {
		padding: 2rem 0;
	  }

	  ul, ol {
	  	margin-left:20px;
	  	padding-left:0;
	  }

	  blockquote {
		  font-family:'benton-sans-wide';
		  padding:20px 10px;
		  font-weight: normal;
		  font-size: 20px;
		  line-height: 136%;
		}
		.reviewer-quote blockquote {
		  margin-bottom:0;
		}
		.reviewer-quote span {
		  display: block;
		  text-align: right;
		  font-family:'benton-sans';
		  font-size:0.8em;
		  margin-top:10px;
		}
		.trailer-container {
		  width:100%;
		  margin:10px 0;
		}
		.trailer-container iframe {
		  width: 100%;
		  max-width:560px;
		}

		.director-headshot {
		  width:30%;
		  margin:0 20px 10px 0;
		  float: left;
		}
	}


	aside {
		  padding:2rem;
		  box-sizing: border-box;
		  width:40%;
		  max-width:420px; 
		  margin: 0 auto 0 0;

		  > div {
		  	margin:2rem 0;
		  }

		.screening {
		  margin:10px 0 20px 0;
		}
		.screening > div {
		  margin:10px 0;
		}
		.screening p {
		  margin:0 0;
		}
	}


	.sponsors {
	  padding: 2em 0;
	  	> div {
		  display: inline-block;
		  margin-right:10px;
		}
		> div img {
		  width:150px;
		  height: auto;
		}
		> i {
		  vertical-align: top;
		  color:#CCC;
		}

		.icon-md {
		  width:60px;
		  height:auto;
		  display: inline;
		  margin-right:10px;
		}
	}	

}